<div id="sc-edprofile">
    <h1>Edit Profile Form</h1>
    <div class="sc-container">
      <input type="text" placeholder="Username" />
      <input type="text" placeholder="Email Address" />
      <input type="password" placeholder="Password" />
      <input type="text" placeholder="Website" />
      <input type="text" placeholder="First Name" />
      <input type="text" placeholder="Last Name" />
      <textarea placeholder="Bio" /></textarea>
      <select>
        <option value="">Male</option>
        <option value="">Female</option>
      </select>
      <input type="text" placeholder="LinkedIn Profile URL" />
      <input type="submit" value="Save" />
      <button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>
    </div>
  </div>