<div class="wrapper">
    <div class="left">
        <img src="/Users/yihao/Documents/GitHub/iManager/src/client/views/img/user_img.png" alt="user" width="100">
        <h4>Name</h4>
        <h5>Company Name</h5>
        <p>Position</p>
    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="info_data">
                 <div class="data">
                    <h4>Email</h4>
                    <p>name@gmail.com</p>
                 </div>
                 <div class="data">
                   <h4>Phone</h4>
                    <p>911</p>
              </div>
            </div>
        </div>
      
        <div class="social_media">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
      </div>
    </div>
</div>