<%- include('./partials/sidebar.ejs') %>
<%- include('./partials/viewSwitch.ejs') %>
<%- include('./partials/tabBox.ejs') %>
<!-- <h1>This is the schedule page <%= userInfo.schedule[0].monday.startTime.hours %></h1> -->

