<% if(typeof errors != 'undefined'){ %>
<% errors.forEach((error) => { %>
<h4 class="messageAlert"><%= error.message; %></h4>
<% console.log(error.message); %>
<% }); %>
<% } %>

<% if (success_message != "") { %>
<h4 class="messageAlertSuccess"><%= success_message; %></h4>
<% } %>

<% if (error_message != "") { %>
<h4 class="messageAlertError"><%= error_message; %></h4>
<% } %>

<% if (error != "") { %>
<h4 class="messageAlert"><%= error; %></h4>
<% } %>