<div class="tabBoxContainer">
    <div class="tabBar">
        <ul class="tablist">
            <!-- depends on the data send in .type = day | week | month, li content change  -->
            
            <li class="tab">Sunday</li>
            <li class="tab">Monday</li>
            <li class="tab">Tuesday</li>
            <li class="tab">Wednesday</li>
            <li class="tab">Thursday</li>
            <li class="tab">Firday</li>
            <li class="tab">Saturday</li>
            
        </ul>
    </div>
    

    <div class="scheduleContainer">
        
    </div>

</div>