/* viewSwitch */

* {box-sizing: border-box}

.calender{
    display: none;
    height: 100%;
    width: 100%;
}

.viewSwitchContainer{
    position: absolute;
    left: 10%;
    top: 20%;
    
    height: 30px;
    width: 200px;
}


#viewSwitch{
    height: 100%;
    width: 100%;
}

.SwitchButton{
    height: 100%;
    width: 33%;
    display: inline-block;
    padding: 5px;
    border: 1px solid black;
    margin-right: -4px;
    background-color: white;
    text-align: center;
}


.SwitchButton:hover{
    background-color: skyblue;
}


/* Week */
.SwitchButton:first-child{
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

/* month */
.SwitchButton:last-child{
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.buttonOnFocus{
    background-color: gray;
}


/* TabBox */

.tabBoxContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50%;
    min-height: 400px;
    width: 80%;
    min-width: 500px;
}

.tabBar{
    height: 5%;
    width: 100%;
    min-height: 30px;
    
}

.tablist{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tab{
    height: 100%;
    width: 100%;
    padding: 5px;
    margin-right: -4px;
    color:white;
    background-color: black;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 17px;
}

#Month .tab:hover{
    background-color: white;
}

.tabcontent{
    color: black;
    height: 100%;
    width: 100%;
    padding: 5px;
    margin-right: -4px;
    background-color: transparent;
    text-align: center;
    /* border-left: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 20px 0 rgb(69 90 100 / 25%);
}

.tab:first-child{
    /* border-left: 2px solid black; */
    border-top-left-radius: 0.5em;
}

.tab:last-child{
    /* border-right: 2px solid black; */
    border-top-right-radius: 0.5em;
}

.scheduleContainer{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.scheduleBlock{
    height: 80%;
    width: 20%;
    background-color: white;
}

.timeBlock {
    margin: 15px;
    box-shadow: 5px 5px 8px;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s all;
    background: white;
}

.timeBlock:hover{
    background: rgb(214, 214, 214);
}

.important_text {
    font-weight: 600;
}

.scheduleTitle{
    text-align: center;
    margin: 15px 0px;
    font-size: 2rem;
    font-weight: 400;
}

.scheduleMonthlyViewFix {
    flex-direction: column;
}
.scheduleMonthlyViewWeekFix {
    flex-direction: row;
}

.scheduleMonthlyViewTileFix {
    height: 350px;
}